
// Variables

$title: 'Six Caps';
$copy: 'Muli';
$primary: #222;
$secondary: #999;


// Mixins

@mixin title-text {
	font-family: $title, sans-serif;
	text-transform: lowercase;
	font-weight: normal;
	letter-spacing: 1px;
	word-spacing: 2px;
	text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
	color: $primary;
}
@mixin fade {
    -moz-transition: opacity .7s ease-in-out;
    -webkit-transition: opacity .7s ease-in-out;
    -o-transition: opacity .7s ease-in-out;
    transition: opacity .7s ease-in-out;
}
@mixin long-fade {
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

// Import Responsive Grid - Foundation by Zurb

@import "_foundation_grid.scss";


// Declarations

h1, h2, h3, h4 {
	font-family: $title, sans-serif;
	text-transform: lowercase;
	font-weight: normal;
	letter-spacing: 1px;
	word-spacing: 2px;
}
h2 {
	font-size: 60px;
	text-shadow: 1px 1px 0 white, 3px 3px 0 rgba(0,0,0,0.1);
	margin: 8px 0 32px;
	border-bottom: 1px dotted rgba(0,0,0,0.4);
	padding-bottom: 26px;
	a {
		border: none;
		text-decoration: none;
		&.back-link {
			color: $secondary;
			font-family: $copy;
			font-size: 14px;
			float: right;
			text-shadow: none;
			letter-spacing: normal;
			margin-top: 44px;
			text-transform: none;
		}
	}	
}
h3 {
	font-size: 40px;
	margin: 38px 0 32px;
	border-bottom: 1px dotted rgba(0,0,0,0.4);
	padding-bottom: 22px;
}
h4 {
	font-size: 32px;
	margin: 34px 0 26px;
	padding-bottom: 0;
}	
article {
	h5 {
		font-size: 16px;
		margin: 34px 0 20px;
		padding-bottom: 0;
	}
	.read-more {
		font-size: 13px;
		margin: 30px 0 60px;
	}
}	
p {
	font-size: 13px;
}
.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 0;
}
#background {
	position: fixed; 
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
	z-index: -1;
	img {
	  position: absolute; 
	  top: 0; 
	  left: 0; 
	  right: 0; 
	  bottom: 0; 
	  margin: auto; 
	  min-width: 50%;
	  min-height: 50%;
	}
}
.left-column {
	float: left;
	height: 100%;
	min-height: 600px;
}
.sidebar {
	min-height: 800px;
	width: 200px;
	position: fixed;
	padding: 20px;
	top: 0;
	left: 0;
}
.side {
	padding: 0;
	hr {
		height: 0;
		border: none;
		border-bottom: 1px dotted rgba(0,0,0,0.3);
	}
	ul {
		list-style: none inside;
		margin: 21px 0 20px;
		padding: 0;
		li {
			font-family: $copy, sans-serif;
			font-weight: 400;
			font-size: 13px;
			margin: 10px 0;
			//border-bottom: 1px dotted rgba(0,0,0,0.1);
			padding: 0 2px;
			&:last-child {
				border-bottom: none;
			}
			a {
				color: #000;
				text-decoration: none;
				opacity: 1;
				@include fade;
				&:hover {
					opacity: 0.65;
					@include fade;
				}
			}
		}
	}
	p {
		font-size: 11px;
		color: $secondary;
		line-height: 16px;
		margin: 16px 2px;
		font-style: italic;
	}
	img {
		&.icon {
			max-width: 20px;
			margin-right: 4px;
			padding-right: 1px;
			opacity: 0.7;
			@include fade;
			&:hover {
				opacity: 1;
				@include fade;
			}
		}
	}
}
#jPanelMenu-menu {
	background: #222;
	box-shadow: -8px 0 12px -7px rgba(0,0,0,1) inset, -2px 0 4px -1px rgba(0,0,0,1) inset;
	ul {
		list-style: none inside;
		margin: 21px 0 20px;
		padding: 0;
		li {
			font-family: $copy, sans-serif;
			font-weight: 400;
			font-size: 14px;
			margin: 10px 0;
			border-bottom: 1px dotted rgba(255,255,255,0.18);
			padding: 2px 16px 12px;
			&:last-child {
				border-bottom: none;
			}
			a {
				color: white;
				text-decoration: none;
				opacity: 1;
				@include fade;
				&:hover {
					opacity: 0.65;
					@include fade;
				}
			}
		}
	}
}
.logo {
	display: block;
	max-width: 100%;
	margin: 0 auto 26px;
	padding: 0 10px;
	max-height: 160px;
}
.main-content {
	padding: 0 0 0 15px;
	min-height: 600px;
	.meta {
		background: rgba(0,0,0,0.02);
		margin: -22px 0 30px;
		padding: 10px 12px;
		a, span {
			font-size: 11px;
			color: $primary;
			text-decoration: none;
			border: none;
			padding-bottom: 0;
			&.publish-date {
				float: left;
			}
			&.tag {
				float: right;
				margin-left: 8px;
			}
		}
	}
	img {
		margin: 10px 0 20px;
		&.right {
			margin: 6px 0 22px 30px;
		}
		&.left {
			margin: 6px 30px 22px 0;
		}
	}
	a {
		color: $primary;
		text-decoration: none;
		border-bottom: 1px dotted rgba(0,0,0,0.3);
		padding-bottom: 2px;
		opacity: 1;
		@include fade;
		&:hover {
			opacity: 0.7;
			@include fade;
		}
	}
	ul {
		list-style: none inside;
		padding: 0 0 0 16px;
		margin: 28px 0 34px;
		li { 
			background-image: url(../images/right_arrow.svg);
			background-position: 0 -1px;
			background-size: 8px 16px;
			background-repeat: no-repeat;
			font-size: 13px;
			margin: 12px 0;
			padding-left: 22px;
		}
	}
	ol {
		list-style: decimal;
		padding: 0 0 0 18px;
		margin: 28px 0 34px 16px;
		li { 
			font-size: 13px;
			margin: 12px 0;
			padding-left: 4px;
		}
	}
	h2 a {
		border: none;
	}
	hr {
		height: 0;
		border: none;
		border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
		margin: 42px 0;
	}
}

.container {
	margin: 0 auto;
	padding: 30px 15px 30px 30px;
	background: rgba(255,255,255,0.9);
}
.item {
	margin-bottom: 30px;
	.item-title {
		font-family: $copy, sans-serif;
		font-weight: 100;
		font-size: 13px;
		display: block;
		height: 36px;
		padding: 11px 10px;
		background: rgba(0,0,0,0.7);
		color: white;			
		margin: -36px 0 0;
		position: relative;
		width: 100%;
		overflow: hidden;
		opacity: 0;
		@include long-fade;
		a {
			color: white;
			text-decoration: none;
			background-image: url(../images/nav_arrow.svg);
			background-position: top right;
			background-repeat: no-repeat;
			display: block;
			border: none;
			//display: none;
		}
	}
	img {
		margin: 0;
		opacity: 1;
		@include long-fade;
	}
	&:hover {
		.item-title {
			padding: 11px 10px;
			opacity: 1;
			@include long-fade;
			a {
				display: block;
			}	
		}
		img {
			opacity: 0.7;
			@include long-fade;
		}
	}
}
.item-detail {
	img {
		margin-bottom: 30px;
	}
}
blockquote {
	font-size: 14px;
	font-style: italic;
	font-weight: 100;
	line-height: 23px;
	background: rgba(0,0,0,0.025);
	margin: 30px 0;
	padding: 18px 24px 21px 32px;
	border-left: 1px dotted rgba(0,0,0,0.16);
	box-shadow: 10px 0 0 0 white inset;
}
.fluid-width-video-wrapper {
	margin: 30px 0;
}
footer {
	border-top: 1px dotted rgba(0,0,0,0.4);
	padding: 30px 0;
	margin-top: 40px;
	text-align: center;
	clear: both;
	a.scrollup {
		display: none;
		opacity: 0.4;
		@include fade;
		cursor: pointer;
		border: none;
		margin-bottom: -36px;
		&:hover {
			opacity: 0.8;
			@include fade;
		}
	}
}
.main-content.tall {
	footer {
		a.scrollup {
			display: block;
		}
	}
}
.sub-nav {
	border-top: 1px dotted rgba(0,0,0,0.3);
	border-bottom: 1px dotted rgba(0,0,0,0.3);
	margin-top: 94px;
	ul {
		list-style: none inside;
		margin: 19px 0 19px;
		padding: 0;
		li {
			font-family: $copy, sans-serif;
			font-weight: 400;
			font-size: 12px;
			margin: 10px 0;
			//border-bottom: 1px dotted rgba(0,0,0,0.1);
			padding: 0 2px 1px;
			background: none;
			&:last-child {
				border-bottom: none;
			}
			a {
				color: #333;
				text-decoration: none;
				border: none;
				opacity: 1;
				@include fade;
				&:hover {
					opacity: 0.65;
					@include fade;
				}
			}
		}
	}
}	
.is-sticky .sub-nav {
	margin-top: 0;
}
.pagination {
	border-top: 1px dotted rgba(0,0,0,0.25);
	height: 36px;
	margin-bottom: -30px;
	a {
		text-decoration: none;
		border: none;
		margin-top: 4px;
		img {
			max-width: 14px;
			padding: 0 2px;
			margin: 11px 0 13px;
		}
		&.older {
			float: right;
		}
		&.newer {
			float: left;
			img {
				-moz-transform: scaleX(-1);
		        -o-transform: scaleX(-1);
		        -webkit-transform: scaleX(-1);
		        transform: scaleX(-1);
		        filter: FlipH;
		        -ms-filter: "FlipH";
			}
		}
		&.inactive {
			opacity: 0.35;
			cursor: default;
		}
 	}
}
#barley-form {
	margin: 42px 0 60px;
	.field {
		margin: 24px 0;
		&.message {
			margin-top: 32px;
		}
	}
	input:not([type=submit]):not([type=file]):not([type=button]) {
		box-sizing: border-box;
		width: 75%;
		float: left;
		font-size: 13px;
		border: none;
		outline: none;
		box-shadow: none;
		border-bottom: 1px dotted rgba(0,0,0,0.2);
		padding-bottom: 7px;
		padding-left: 3px;
		font-family: $copy, sans-serif;
	}
	textarea {
		box-sizing: border-box;
		width: 75%;
		float: left;
		font-size: 13px;
		border: 1px solid rgba(0,0,0,0.12);
		outline: none;
		padding: 10px;
		font-family: $copy, sans-serif;
	}
	label {
		float: left;
		width: 18%;
		font-size: 13px;
		text-align: right;
		padding-right: 14px;
		line-height: 18px;
	}
	input[type="button"] {
		background: #333;
		color: white;
		width: auto;
		margin-left: 18%;
		border: none;
		outline: none;
		font-size: 11px;
		padding: 6px 14px 7px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-family: $copy, sans-serif;
	}
	.form-button-box {

	}
	::-webkit-input-placeholder {color: rgba(0,0,0,0.3); font-style: italic;}
	:-moz-placeholder {color: rgba(0,0,0,0.3); font-style: italic;}
	::-moz-placeholder {color: rgba(0,0,0,0.3); font-style: italic;}
	:-ms-input-placeholder {color: rgba(0,0,0,0.3); font-style: italic;}
}
#barley-form-message {
	background: rgba(0,0,0,0.03);
	text-align: center;
	font-size: 13px;
	padding: 12px 20px;
	margin-top: 34px;
}	
.menu-trigger {
	position: absolute;
	top: 15px;
	left: 15px;
	height: 20px;
	width: 20px;
	display: none;
}
.default-message {
	text-align: center;
	min-height: 500px;
	&.gallery {
		margin: 0 15px;
		min-height: 800px;
		background-image: url(../image/soon.svg);
	    background-size: 100%;
	    background-position: center top;
	    background-repeat: no-repeat;
	}   
	&.mobile {
		margin: 0 15px 20px;
		min-height: 260px;
		background-image: url(../image/soon_mobile.svg);
	    background-size: 100%;
	    background-position: center top;
	    background-repeat: no-repeat;
	}
	&.blog-list {
		margin: -20px 0 0;
		min-height: 600px;
		background-image: url(../image/soon_blog.svg);
	    background-size: 100%;
	    background-position: center top;
	    background-repeat: no-repeat;
	}
    i {
    	font-size: 116px;
    	color: rgba(0,0,0,0.1);
    	display: block;
    	text-align: center;
    	padding-bottom: 36px;
    }
	.default-text {
		text-align: center;
		font-size: 20px;
		font-family: $copy, sans-serif;
		margin: 20px 0 0;
	}
}
.set-thumb {
	background: rgba(0,0,0,0.04);
	padding: 30px;
	margin: 95px 0 60px;
	h4 {
		font-size: 42px;
		margin: 10px 0 24px;
	}
	p {
		font-size: 13px;
	}
	span {
		display: block;
		font-size: 12px;
		color: lighten($primary,30%);
		font-style: italic;
	}
	img {
		margin: 0;
	}
}
.set-thumb-target {
	width: 230px;
	float: right;
	margin-left: 30px;
}
.form-settings {
	background: rgba(0,0,0,0.04);
	padding: 25px 30px;
	margin: 45px 0 40px;
	h4 {
		font-size: 42px;
		margin: 0 0 24px;
	}
	p {
		font-size: 13px;
		margin-bottom: 40px;
	}
	label {
		width: 26% !important;
	}
	input {
		width: 72% !important;
		padding: 10px !important;
		margin-top: -8px !important;
	}
}
.form-owner-settings {
	margin: 54px 0 60px;
	background: rgba(0,0,0,0.04);
	padding: 20px 26px 1px;
	h4 {
		font-size: 42px;
		margin: 0 0 18px;
		border-bottom: 1px dotted rgba(0,0,0,0.2);
		padding-bottom: 18px;
	}
	p {
		font-size: 13px;
		margin-bottom: 48px;
		color: lighten($primary,40%);
		font-style: italic;
	}
	.owner-email, .owner-message {
		font-size: 13px;
		margin: 15px 0 30px;
		span {
			display: block;
			&.label {
				float: left;
				width: 22%;
				text-align: right;
			}
			&.input {
				border-bottom: 1px dotted rgba(0,0,0,0.2);
				float: right;
				width: 75%;
				padding: 9px 14px 11px;
				background: white;
				margin-top: -13px;
				line-height: 20px;
				&.message {
					background: rgba(0, 0, 0, 0.03);
					border: none;
					text-align: center;
					font-size: 13px;
					padding: 12px 20px;
					margin-top: -10px;
				}
			}
		}
	}
}
.owner-settings-link {
	font-family: $copy, sans-serif;
	font-size: 13px;
	text-align: right;
	float: right;
	margin-top: 24px;
	text-transform: none;
	letter-spacing: normal;
	a {
		text-decoration: none;
		border: none;
	}
}
.gallery-default {
	padding: 0 15px;
	min-height: 340px;
}
.bottom-line {
	margin: 0 0 40px;
	font-size: 12px;
	color: lighten($primary,30%);
	line-height: 20px;
}
.copyright {
	float: left;
	width: 42%;
	text-align: left;
}
.powered {
	float: right;
	width: 42%;
	text-align: right;
	img {
		margin: -3px 0 0 4px;
		opacity: 0.7;
	}
	a {
		border: none;
	}
	span {
		float: right;
	}
}
#mobile-header {
	display: none;
}
.show-for-small {
	display: none;
}
.hide-for-small {
	display: block;
}

@media only screen and (max-width: 767px) {
	.wrapper {
		width: 100%;
		max-width: 1200px;
	}
	.sidebar {
		display: none;
	}
	.menu-trigger {
		display: block;
	}
	.side {
		display: none;
	}
	.container {
		padding: 30px 15px;
	}
	#intro {
		text-align: center;
		margin: 4px 30px 28px;
		padding: 8px 0 7px;
		border-top: 1px dotted rgba(0,0,0,0.3);
		border-bottom: 1px dotted rgba(0,0,0,0.3);
		color: $secondary;
		font-style: italic;
		font-size: 12px;
	}
	.main-content {
		padding: 0;
	}
	#mobile-header {
		display: block;
		padding: 0 30px 10px;
		p {
			text-align: center;
			border-top: 1px dotted rgba(0,0,0,0.4);
			border-bottom: 1px dotted rgba(0,0,0,0.4);
			padding: 10px 4px 11px;
			font-size: 13px;
			margin-top: 34px;

		}
	}
	.main-content {
		img {
			max-width: 100%;
			margin: 26px auto 30px;
			display: block;
			&.right { 
				float: none !important;
				margin: 26px auto 30px;
			}
			&.left { 
				float: none !important;
				margin: 26px auto 30px;
			}
		}
		p {
			font-size: 12px;
			line-height: 20px;
		}
	}
	footer {
		padding: 0;
		margin: 40px 30px 0;
		text-align: center;
		a.scrollup {
			display: block;
			margin: -40px 0 32px;
		}
	}
	.bottom-line {
		margin: 0 0 20px;
		border-top: none;
	}
	.copyright {
		width: 60%;
		text-align: left;
		margin-top: 22px;
		font-size: 11px;

	}
	.powered {
		width: 38%;
		text-align: right;
		margin-top: 18px;
		img {
			display: inline;
			margin: 0;
		}
	}
	.show-for-small {
		display: block;
	}
	.hide-for-small {
		display: none;
	}
	#jPanelMenu-menu {
		z-index: 1;
		ul {
			margin: 2px 0 0;
			li {
				margin: 0;
				padding: 16px 16px 17px;
				a {
					&:hover {
						opacity: 1;
					}
				}
			}
		}
		#social-icons {
			padding: 15px 14px;
			margin: 0;
			border-top: 1px dotted rgba(255,255,255,0.23);
			img {
				&.icon {
					max-width: 34px;
					margin-right: 4px;
					padding-right: 1px;
					opacity: 1;
				}
			}
		}
	}	
	h1, h2, h3, h4 {
		text-align: center;
	}
	.item {
		text-align: center;
		.item-title {
			display: none;
		}
		&:hover {
			img {
				opacity: 1;
			}
		}
		img {
			margin: 0;
			display: inline;
		}	
	}
	.gallery-default {
		min-height: none;
	}
	.owner-settings-link {
		font-size: 12px;
		display: block;
		text-align: center;
		float: none;
		margin-top: 15px;
	}
	article {
		margin-bottom: 46px;
	}
	.sub-nav {
		margin-top: 4px;
		ul {
			li {
				font-size: 13px;
				margin: 14px 0;
			}
		}
	}
	#barley-form {
		label {
			float: none;
			display: block;
			width: 100%;
			text-align: left;
			padding-right: 0;
			line-height: 18px;
		}
	    input:not([type=submit]):not([type=file]):not([type=button]) {
			width: 100%;
			float: none;
			font-size: 13px;
			padding-bottom: 7px;
			padding-left: 0;
			margin-top: 10px;
			border-radius: 0;
		}
	    textarea {
			width: 100%;
			float: none;
			font-size: 13px;
			padding: 10px;
			margin-top: 10px;	
			border-radius: 0;	
		}
	    input[type="button"] {
			width: 100%;
			margin-left: 0;
			font-size: 12px;
			padding: 9px 14px 10px;
			border-radius: 0;
		}
	}
}	

.columns:last-child, .columns .columns:last-child {
	float: left;
}
.item_order { 
	display: none;
}